body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:lightslategray;
    min-width: 1700px
}

.clock {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(newTime.png) 50% no-repeat;
    background-size: cover;
    border-radius: 50%;
    z-index: 4;
    background-color: white;
}

.clock .clock_hour,
.clock .clock_min,
.clock .clock_sec {
    position: absolute;
    z-index: 3;
}

.clock .clock_hour, .hr {
    width: 160px;
    height: 210px;
}
.clock .clock_min, .min {
    width: 190px;
    height: 290px;
}
.clock .clock_sec, .sec {
    width: 230px;
    height: 320px;
}

.hr, .min, .sec {
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
    z-index: 3;
}

.hr::before {
    content: "";
    position: absolute;
    width: 11px;
    height: 110px;
    background-color: rgb(8, 8, 8);
    border-radius: 50% 50% 0 0;
    z-index: 10;
}

.min::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 150px;
    background-color: black;
    border-radius: 50% 50% 0 0;
    z-index: 11;
}

.sec::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 180px;
    background-color: rgb(175, 3, 3);
    border-radius: 50% 50% 0 0;
    z-index: 9;
}

.obol {
position: relative;
display: flex;
justify-content: center;
align-items: center;
}


.progress-ring__circle {
    stroke-width: 7;
    stroke: #0de906;
    fill: none;
    transform-origin: center;
    transform: rotate(-90deg);
    
  }
  .form {
      width: 400px;
      height: 120px;
      display: flex;
      flex-wrap: wrap;
      margin-right: 50px;
      margin-bottom: 700px;
      margin-left: -500px;
  }

  input {
      margin-right: 10px;
  }

  .butt {
      margin-left: 20px;

  }

  #but {
      padding: 5px 15px;
  }