.form {
    width: 350px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    margin-right: -23px;
    margin-bottom: 700px;
    margin-left: -120px;
    position: relative;
    justify-content: space-between;
}

.name-task {
    margin-bottom: 0px;
    margin-top: -8px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.label-from {
  margin-right: 10px;
  margin-left: 10px;
}
#btnnametask {
  margin-right: 90px;
}
#btn {
  position: absolute;
  top: 90px;
  left: 16px;
}